

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>information</title>
</head>
<body>
    <div>
        <div class="container">
            <div class="row">
                <div class="col-md-4">

                    <div class="col-md-4">
                        <div>
                            <div class="aligenment" style="background-color: lightblue;border-radius:10px; padding: 5%; text-align: center;">
                                <h1>Undersøgelsen er 100% anonym</h1>
                                <br />
                                <h3>Undersøgelsen går ud på:</h3>
                                <br />
                                <h4>
                                    1.	at undersøge om der er en frygt for at kunstig intelligens ville kunne gøre skade på mennesker eller om vi derimod har tillid til kunstig intelligens
                                </h4>
                                <br />
                                <h4>
                                    2.	om der en skepsis eller frygt for hvordan vores data vil blive brugt af staten, Tech-giganter eller andre private aktører
                                </h4>
                                <br />
                                <h4>
                                    Årsagen til denne undersøgelse er at jeg er i gang med mit 1. semester projekt i videnskabsteori i forbindelse med min uddannelse som dataanalytiker på erhvervsakademi dania
                                </h4>
                                <br />
                                <h4>
                                    Håber at i vil giver en hånd med og besvare spørgeskemaet 😉
                                </h4>
                                <br />
                                <h4>Med venlig hilsen</h4>
                                <h4>Michael Davis</h4>
                                <div>
                                    @*@Html.ActionLink("Til Spørgeskema", "Create")*@
                                    <input type="button"
                                           value="Til Spørgeskema"
                                           onclick="location.href='@Url.Action("Create", "ReplyBs" )'" />
                                </div>
                            </div>
                        </div>

                    </div>
                    <div class="col-md-4">
                    </div>
                </div>



            </div>
        </div>
    </div>
</body>
</html>
